@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style-type: none;
    text-decoration: none;
}
.correct{
    background-color: green;
}
.fail{
    background-color: red;
    
}
.body{
    background-color: #222;
}
body{
    font-family: "Press start 2P";
    box-sizing: border-box;
    /* background-color: #222; */
    color: #eee;
    font-size: 1rem;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    border-bottom: 5px solid #eee;
}
main{
    height: 65vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    font-size: 1.2rem;
}
.left{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.right{
    display: flex;
    flex-direction: column;
}
.label-highscore{
    margin-top: 1.5rem;
}
button{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: cadetblue;
    cursor: pointer;
    border: none;
}
.again{
    margin-top: 1rem;
}
.between{
    color: goldenrod;
}
.love{
    color: red;
    
}
.soft{
    color: orange;
}
.number{
    font-size: 4rem;
    background-color: #eee;
    color: #333;
    width: 10rem;
    padding: 3rem;
    margin-bottom: 1rem;
    border-radius: 10%;
    align-items: center;
}
.guess{
    width: 10rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2.5rem;
    background-color: goldenrod;
    color: #eee;
    border-radius: 10%;
    outline: none;
    text-align: center;
    font-family: "Press start 2P";
}
.warning{
    background-color: yellow;
    color: red;
    padding: 5px;
    border-radius: 10px;
    font-size: .6rem;
    margin-bottom: 10px;
    display: none;

}
.love{
    color: firebrick;
    display: flex;

}
@media (min-width: 650px){
    body{
        font-size: 2rem;
    }
    h1{
        font-size: 3rem;
    }
    .left, .right{
        width: 50%;
    }
    main{
        width: 100%;
        height: 50vh;
        flex-direction: row;
        justify-content: space-between;
    }
    .label-highscore{
        margin-top: 1rem;
    }
}